@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
.subtitleFont {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #3d8eb9 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #3d8eb9 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #3d8eb9;
}
.btn-social:hover {
  background: #3d8eb9;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #3d8eb9;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #3d8eb9;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #3d8eb9;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #3d8eb9;
}
.lead a,
.lead a:hover {
  color: #3d8eb9;
}
.lead blockquote {
  border-color: #3d8eb9;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #3d8eb9;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#menu-l .navbar-toggler {
  color: #28324e;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #28324e;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #28324e;
}
#menu-l .link {
  font-size: 0.85rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #e6e6e6;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-l .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#msg-box8-4 .mbr-section-title,
#msg-box8-4 p {
  color: #fff;
}
#msg-box8-4 .mbr-section-title {
  font-size: 32px;
}
#msg-box8-4 .lead P {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}
#msg-box8-4 .lead UL {
  text-align: left;
  color: #ffffff;
}
#msg-box8-4 .lead H1 {
  color: #ffffff;
}
#msg-box3-40 .mbr-section-title,
#msg-box3-40 p {
  color: #000;
}
#msg-box3-40 .mbr-section-title {
  font-size: 24px;
  color: #ffffff;
}
#msg-box3-40 .lead P {
  color: #efefef;
}
#contacts1-26 P {
  color: #28324e;
}
#contacts1-26 STRONG {
  color: #28324e;
}
#menu-3x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3x .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#menu-3x .navbar-toggler {
  color: #28324e;
}
#menu-3x .close-icon::before,
#menu-3x .close-icon::after {
  background-color: #28324e;
}
#menu-3x .link,
#menu-3x .dropdown-item {
  color: #28324e;
}
#menu-3x .link {
  font-size: 0.85rem;
}
#menu-3x .dropdown-item,
#menu-3x .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-3x .link:hover,
#menu-3x .dropdown-item:hover,
#menu-3x .link:focus,
#menu-3x .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-3x .link[aria-expanded="true"],
#menu-3x .dropdown-menu {
  background: #e6e6e6;
}
#menu-3x .nav-dropdown-sm .link:focus,
#menu-3x .nav-dropdown-sm .link:hover,
#menu-3x .nav-dropdown-sm .dropdown-item:focus,
#menu-3x .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-3x .navbar,
#menu-3x .nav-dropdown-sm,
#menu-3x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3x .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-3x .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-3x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3x .bg-color.transparent.opened .link:hover,
#menu-3x .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-3x .link[aria-expanded="true"],
#menu-3x .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#features1-45 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#contacts1-3y P {
  color: #28324e;
}
#contacts1-3y STRONG {
  color: #28324e;
}
#menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-q .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#menu-q .navbar-toggler {
  color: #28324e;
}
#menu-q .close-icon::before,
#menu-q .close-icon::after {
  background-color: #28324e;
}
#menu-q .link,
#menu-q .dropdown-item {
  color: #28324e;
}
#menu-q .link {
  font-size: 0.75rem;
}
#menu-q .dropdown-item,
#menu-q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-q .link:hover,
#menu-q .dropdown-item:hover,
#menu-q .link:focus,
#menu-q .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-menu {
  background: #e6e6e6;
}
#menu-q .nav-dropdown-sm .link:focus,
#menu-q .nav-dropdown-sm .link:hover,
#menu-q .nav-dropdown-sm .dropdown-item:focus,
#menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-q .navbar,
#menu-q .nav-dropdown-sm,
#menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-q .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-q .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-q .bg-color.transparent.opened .link:hover,
#menu-q .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#msg-box8-m .mbr-section-title,
#msg-box8-m p {
  color: #fff;
}
#msg-box8-m .mbr-section-title {
  font-size: 32px;
}
#msg-box8-m .lead P {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}
#msg-box8-m .lead UL {
  text-align: left;
  color: #ffffff;
}
#msg-box8-m .lead H1 {
  color: #ffffff;
}
#header3-3e .mbr-section-title,
#header3-3e .mbr-section-subtitle {
  text-align: center;
}
#features2-r .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-r .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-r .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#header3-t .mbr-section-title,
#header3-t .mbr-section-subtitle {
  text-align: center;
}
#features2-s .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-s .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-s .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#header3-y .mbr-section-title,
#header3-y .mbr-section-subtitle {
  text-align: center;
}
#features2-w .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-w .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-w .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#header3-z .mbr-section-title,
#header3-z .mbr-section-subtitle {
  text-align: center;
}
#features2-10 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-10 .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-10 .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#header3-11 .mbr-section-title,
#header3-11 .mbr-section-subtitle {
  text-align: center;
}
#features2-12 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-12 .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-12 .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#features2-14 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-14 .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-14 .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#header3-2n .mbr-section-title,
#header3-2n .mbr-section-subtitle {
  text-align: center;
}
#contacts1-26 P {
  color: #28324e;
}
#contacts1-26 STRONG {
  color: #28324e;
}
#menu-1j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1j .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#menu-1j .navbar-toggler {
  color: #28324e;
}
#menu-1j .close-icon::before,
#menu-1j .close-icon::after {
  background-color: #28324e;
}
#menu-1j .link,
#menu-1j .dropdown-item {
  color: #28324e;
}
#menu-1j .link {
  font-size: 0.75rem;
}
#menu-1j .dropdown-item,
#menu-1j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1j .link:hover,
#menu-1j .dropdown-item:hover,
#menu-1j .link:focus,
#menu-1j .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-menu {
  background: #e6e6e6;
}
#menu-1j .nav-dropdown-sm .link:focus,
#menu-1j .nav-dropdown-sm .link:hover,
#menu-1j .nav-dropdown-sm .dropdown-item:focus,
#menu-1j .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1j .navbar,
#menu-1j .nav-dropdown-sm,
#menu-1j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1j .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1j .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-1j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1j .bg-color.transparent.opened .link:hover,
#menu-1j .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-1j .link[aria-expanded="true"],
#menu-1j .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#msg-box8-15 .mbr-section-title,
#msg-box8-15 p {
  color: #fff;
}
#msg-box8-15 .mbr-section-title {
  font-size: 32px;
}
#msg-box8-15 .lead P {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}
#msg-box8-15 .lead UL {
  text-align: left;
  color: #ffffff;
}
#msg-box8-15 .lead H1 {
  color: #ffffff;
}
#header3-1m .mbr-section-title,
#header3-1m .mbr-section-subtitle {
  text-align: center;
}
#header3-1m H3 {
  font-size: 22px;
  color: #28324e;
}
#header3-1m SMALL {
  color: #28324e;
}
#header3-1o .mbr-section-title,
#header3-1o .mbr-section-subtitle {
  text-align: center;
}
#header3-1n .mbr-section-title,
#header3-1n .mbr-section-subtitle {
  text-align: center;
}
#header3-1n H3 {
  font-size: 22px;
  color: #28324e;
}
#header3-1n SMALL {
  color: #28324e;
}
#header3-1p .mbr-section-title,
#header3-1p .mbr-section-subtitle {
  text-align: center;
}
#features2-16 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-16 .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-16 .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#contacts1-26 P {
  color: #28324e;
}
#contacts1-26 STRONG {
  color: #28324e;
}
#header3-1f .mbr-section-title,
#header3-1f .mbr-section-subtitle {
  text-align: center;
}
#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#menu-l .navbar-toggler {
  color: #28324e;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #28324e;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #28324e;
}
#menu-l .link {
  font-size: 0.85rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #e6e6e6;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-l .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#msg-box8-a .mbr-section-title,
#msg-box8-a p {
  color: #fff;
}
#msg-box8-a .mbr-section-title {
  font-size: 32px;
}
#msg-box8-a .lead P {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
#msg-box8-a .lead UL {
  text-align: left;
  color: #ffffff;
}
#msg-box8-a .lead H1 {
  color: #ffffff;
}
#msg-box8-a .mbr-section-title SPAN {
  font-size: 22px;
}
#features1-k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features1-k .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features1-k .mbr-cards-col:nth-child(even) .card-text SPAN {
  color: #28324e;
}
#features1-k .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features1-2p .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #efefef;
}
#features1-2p .mbr-cards-col:nth-child(odd) .card-title {
  color: #28324e;
}
#features1-2p .mbr-cards-col:nth-child(odd) .card-text {
  color: #28324e;
}
#features1-2p .mbr-cards-col:nth-child(even) .card-title {
  color: #efefef;
}
#features1-2p .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #efefef;
}
#features1-2p .mbr-cards-col:nth-child(even) .card-text {
  color: #efefef;
}
#contacts1-26 P {
  color: #28324e;
}
#contacts1-26 STRONG {
  color: #28324e;
}

#menu-2b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2b .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#menu-2b .navbar-toggler {
  color: #28324e;
}
#menu-2b .close-icon::before,
#menu-2b .close-icon::after {
  background-color: #28324e;
}
#menu-2b .link,
#menu-2b .dropdown-item {
  color: #28324e;
}
#menu-2b .link {
  font-size: 0.75rem;
}
#menu-2b .dropdown-item,
#menu-2b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2b .link:hover,
#menu-2b .dropdown-item:hover,
#menu-2b .link:focus,
#menu-2b .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-menu {
  background: #e6e6e6;
}
#menu-2b .nav-dropdown-sm .link:focus,
#menu-2b .nav-dropdown-sm .link:hover,
#menu-2b .nav-dropdown-sm .dropdown-item:focus,
#menu-2b .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2b .navbar,
#menu-2b .nav-dropdown-sm,
#menu-2b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2b .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2b .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-2b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2b .bg-color.transparent.opened .link:hover,
#menu-2b .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#msg-box8-27 .mbr-section-title,
#msg-box8-27 p {
  color: #fff;
}
#msg-box8-27 .mbr-section-title {
  font-size: 32px;
}
#msg-box8-27 .lead P {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
#msg-box8-27 .lead UL {
  text-align: left;
  color: #ffffff;
}
#msg-box8-27 .lead H1 {
  color: #ffffff;
}
#msg-box8-27 .mbr-section-title SPAN {
  font-size: 22px;
}
#features2-h8 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-h8 .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-h8 .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-ez .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-ez .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-ez .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-ey .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-ey .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-ey .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-ed .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-ed .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-ed .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-ec .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-ec .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-ec .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-dz .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-dz .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-dz .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-dy .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-dy .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-dy .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-dx .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-dx .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-dx .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-co .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-co .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-co .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-ck .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-ck .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-ck .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-ch .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-ch .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-ch .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-cc .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-cc .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-cc .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-ca .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-ca .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-ca .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-aw .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-aw .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-aw .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-av .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-av .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-av .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-3p .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-3p .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-3p .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-3p .mbr-cards-col:nth-child(odd) .card-title {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
#features2-3o .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-3o .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-3o .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-3n .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-3n .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-3n .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-3l .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-3l .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-3l .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-3k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-3k .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-3k .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-3i .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-3i .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-3i .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-3h .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-3h .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-3h .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#features2-2c .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #28324e;
}
#features2-2c .mbr-cards-col:nth-child(even) .card-title {
  color: #28324e;
}
#features2-2c .mbr-cards-col:nth-child(even) .card-text {
  color: #28324e;
}
#contacts1-29 P {
  color: #28324e;
}
#contacts1-29 STRONG {
  color: #28324e;
}
#menu-i7 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-i7 .navbar-caption {
  color: #ffffff;
  font-size: 15px;
}
#menu-i7 .navbar-toggler {
  color: #28324e;
}
#menu-i7 .close-icon::before,
#menu-i7 .close-icon::after {
  background-color: #28324e;
}
#menu-i7 .link,
#menu-i7 .dropdown-item {
  color: #28324e;
}
#menu-i7 .link {
  font-size: 0.85rem;
}
#menu-i7 .dropdown-item,
#menu-i7 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-i7 .link:hover,
#menu-i7 .dropdown-item:hover,
#menu-i7 .link:focus,
#menu-i7 .dropdown-item:focus {
  color: #3d8eb9;
}
#menu-i7 .link[aria-expanded="true"],
#menu-i7 .dropdown-menu {
  background: #e6e6e6;
}
#menu-i7 .nav-dropdown-sm .link:focus,
#menu-i7 .nav-dropdown-sm .link:hover,
#menu-i7 .nav-dropdown-sm .dropdown-item:focus,
#menu-i7 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-i7 .navbar,
#menu-i7 .nav-dropdown-sm,
#menu-i7 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-i7 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-i7 .bg-color.transparent .link {
  color: #28324e;
  transition: none;
}
#menu-i7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-i7 .bg-color.transparent.opened .link:hover,
#menu-i7 .bg-color.transparent.opened .link:focus {
  color: #3d8eb9;
}
#menu-i7 .link[aria-expanded="true"],
#menu-i7 .dropdown-item[aria-expanded="true"] {
  color: #3d8eb9!important;
}
#msg-box8-i4 .mbr-section-title,
#msg-box8-i4 p {
  color: #fff;
}
#msg-box8-i4 .mbr-section-title {
  font-size: 32px;
}
#msg-box8-i4 .lead P {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}
#msg-box8-i4 .lead UL {
  text-align: left;
  color: #ffffff;
}
#msg-box8-i4 .lead H1 {
  color: #ffffff;
}
#msg-box3-i5 .mbr-section-title,
#msg-box3-i5 p {
  color: #000;
}
#msg-box3-i5 .mbr-section-title {
  font-size: 24px;
  color: #ffffff;
}
#msg-box3-i5 .lead P {
  color: #efefef;
}
#contacts1-i8 P {
  color: #28324e;
}
#contacts1-i8 STRONG {
  color: #28324e;
}
